[Desktop Entry]
Categories=Education;Science;
Exec=phet
Icon=phet
Name=PhET simulations (online)
Name[de]=PhET Simulationen (online)
GenericName=Interactive Science Simulations
GenericName[de]=Interaktive wissenschaftliche Simulationen
GenericName[es]=Simulaciones Interactivas de Ciencia
GenericName[fr]=Simulateurs intéractifs en sciences
GenericName[it]=Simulazioni Scientifiche Interattive
GenericName[pt_BR]=Simulações Interativas de Ciência
GenericName[pt]=Simulações Interactivas Científicas
Type=Application
