[Desktop Entry]
Categories=Geography;
Exec=toporopa
Icon=toporopa
Name=Toporopa (online)
GenericName=European geography
GenericName[de]=Europäische Geografie
Type=Application
