[Desktop Entry]
Categories=Education;Math;
Exec=firefox http://www.lehrmittelverlag-zuerich.ch/Lehrmittel-Sites/MathematikSekundarstufeI/Mathematik2/M2Kapitel1-9/tabid/549/language/de-CH/Default.aspx
Icon=mathe_sekundar_2
Name=Mathematik Sekundarstufe I 2 (online)
GenericName[de]=Mathematikaufgaben für die Sekundarschule
Type=Application
