[Desktop Entry]
Categories=Education;Math;
Exec=firefox http://www.lehrmittelverlag-zuerich.ch/Lehrmittel-Sites/MathematikSekundarstufeI/Mathematik1/M1Kapitel1-9/tabid/521/language/de-CH/Default.aspx
Icon=mathe_sekundar_1
Name=Mathematik Sekundarstufe I 1 (online)
GenericName[de]=Mathematikaufgaben für die Sekundarschule
Type=Application
