Source: lernstick-kreuzwortraetsel-generator
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-kreuzwortraetsel-generator
Depends: firefox-esr | firefox | iceweasel
Architecture: all
Description: A menu entry for Kreuzworträtsel Generator
 We add a menu entry for https://www.kreuzwort-raetsel.com/selbst-erstellen
