Source: lernstick-openclipart
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-openclipart
Architecture: any
Description: A menu entry for Open Clip Art Library
 We add a menu entry for the Open Clip Art Library webpage.
