[Desktop Entry]
Categories=Education;
Exec=iceweasel http://kinder.wald.de
Icon=kinderwald
Name=Kinderwald (online)
GenericName=Interactive forest game
GenericName[de]=Interaktives Waldspiel
Type=Application
