Source: lernstick-kinderzeitmaschine
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-kinderzeitmaschine
Depends: iceweasel | firefox
Architecture: all
Description: A menu entry for Kinderzeitmaschine
 We add a menu entry for the Kinderzeitmaschine webpage.
