[Desktop Entry]
Categories=Education;
Exec=bodenlift
Icon=bodenlift
Name=Bodenlift (online)
Name[fr]=Ascenseur souterrain (online)
Name[it]=Ascensore sotterraneo (online)
GenericName=A journey through soil
GenericName[de]=Eine Reise durch den Boden
GenericName[fr]=Une excursion sous terre
GenericName[it]=Una spedizione sotto terra
Type=Application
