[Desktop Entry]
Name=Snap! Build Your Own Blocks (online)
GenericName=Visual programming language
GenericName[de]=Visuelle Programmiersprache
Exec=firefox https://snap.berkeley.edu/snap/snap.html
Type=Application
Icon=snap
Categories=Development;
