[Desktop Entry]
Categories=Education;
Exec=againstallodds
Icon=againstallodds
Name=Against all odds
Name[de]=Last Exit Flucht (Online)
Name[fr]=Envers et contre tout (Online)
Name[es]=Contra viento y marea (Online)
GenericName=Game about refugees and human rights
GenericName[de]=Spiel zum Thema Flucht und Menschenrechte
Type=Application
