[Desktop Entry]
Categories=Education;
Exec=againstallodds
Icon=againstallodds
Name=Against all odds
Name[de]=Last Exit Flucht
Name[fr]=Envers et contre tout
Name[es]=Contra viento y marea
Type=Application
