[Desktop Entry]
Categories=X-lernstick-History;
Exec=firefox https://www.kinderzeitmaschine.de
Icon=kinderzeitmaschine
Name=Kinderzeitmaschine (online)
GenericName=Virtual journeys into the past
GenericName[de]=Virtuelle Reisen in die Vergangenheit
Type=Application
