[Desktop Entry]
Categories=Education;Math;
Exec=sikore
Icon=sikore
Name=SIKORE (online)
GenericName=Mental Arithmetic
GenericName[de]=Sicher Kopfrechnen
Type=Application
