[Desktop Entry]
Categories=Education;
Exec=iceweasel http://www.wir-ernten-was-wir-saeen.de/energiespiel/
Icon=energiespiel
Name=Energetika 2010
Type=Application
