Source: lernstick-weltmusik
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-weltmusik
Architecture: all
Description: A menu entry for Kinderweltmusik
 We add a menu entry for the Kinderweltmusik webpage.
