[Desktop Entry]
Categories=Education;
Exec=firefox http://lernareal.ch
Icon=lernareal
Name=Lernareal (online)
GenericName=Learning and exercise platform as from grade 7
GenericName[de]=Lern- und Übungsplattform ab Schuljahr 7
Type=Application
