Source: lernstick-flubidux
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-flubidux
Depends: iceweasel | firefox | firefox-esr
Architecture: all
Description: A menu entry for Flubidux
 We add a menu entry for the Flubidux webpage.
