[Desktop Entry]
Categories=Education;
Exec=cooldriving
Icon=tcs
Name=COOLdriving (Online)
GenericName=Game about traffic regulations
GenericName[de]=Spiel zur Verkehrstheorie
GenericName[fr]=Jeu de la théorie du trafic
Type=Application
