[Desktop Entry]
Categories=Geography;
Exec=firefox https://www.openstreetmap.org
Icon=openstreetmap
Name=OpenStreetMap (online)
GenericName=A free map of the world
GenericName[de]=Eine freie Weltkarte
Type=Application
