[Desktop Entry]
Categories=Geography;
Exec=iceweasel http://www.openstreetmap.org
Icon=Openstreetmap_logo
Name=OpenStreetMap
GenericName=A free map of the world
GenericName[de]=Eine freie Weltkarte
Type=Application
