Source: lernstick-toporopa
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-toporopa
Depends: iceweasel | firefox
Architecture: all
Description: A menu entry for Toporopa
 We add a menu entry for the Toporopa webpage.
