[Desktop Entry]
Categories=Education;Languages;
Exec=openthesaurus
Icon=openthesaurus
Name=OpenThesaurus (online)
GenericName[de]=Freies Wörterbuch für Synonyme
Type=Application
