[Desktop Entry]
Categories=Education;Math;
Exec=matheimnetz
Icon=/usr/share/icons/mathe-im-netz.png
Name=Maths on the Net
Name[de]=Mathe im Netz
Type=Application
