[Desktop Entry]
Categories=Education;Math;
Exec=matheimnetz
Icon=mathe-im-netz
Name=Maths on the Net (online)
Name[de]=Mathe im Netz (online)
GenericName=Primary school math excercises
GenericName[de]=Mathematikaufgaben für die Primarschule
Type=Application
