[Desktop Entry]
Categories=Music;
Exec=iceweasel http://www.notenmax.de
Icon=notenmax
Name=Notenmax (online)
GenericName=Music learning platform for kids
GenericName[de]=Musiklernplattform für Kinder
Type=Application
