[Desktop Entry]
Categories=Education;Languages;
Exec=iceweasel https://www.wiktionary.org/
Icon=wiktionary
Name=Wiktionary (online)
GenericName=Dictionary
GenericName[de]=Wörterbuch
Type=Application
