[Desktop Entry]
Categories=Music;
Exec=iceweasel http://www.jamendo.com
Icon=jamendo
Name=Jamendo (online)
GenericName=Free music
GenericName[de]=Freie Musik
Type=Application
