[Desktop Entry]
Categories=Education;Languages;
Exec=firefox https://www.1000feuilles.ch/_magazineLogin
Icon=/usr/share/icons/mille-feuilles.png
Name=Mille feuilles
Type=Application
