[Desktop Entry]
Categories=Education;Languages;
Exec=firefox https://serv88919410.secure-node.at
Icon=/usr/share/icons/mille-feuilles.png
Name=Mille feuilles
Type=Application
