[Desktop Entry]
Categories=Music;
Exec=firefox http://www.flubidux.de/start.htm
Icon=flubidux
Name=Flubidux (online)
GenericName=Exploration of tones, sounds and noise
GenericName[de]=Erforschung von Tönen, Klängen und Geräuschen
Type=Application
