Source: lernstick-schatz-der-kulturen
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-schatz-der-kulturen
Depends: iceweasel | firefox | firefox-esr
Architecture: all
Description: A menu entry for Schatz der Kulturen
 We add a menu entry for the Schatz der Kulturen webpage.
