Source: lernstick-mathematik-primarstufe
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-mathematik-primarstufe
Depends: iceweasel | firefox
Architecture: all
Description: math excercises
 math excercises
