[Desktop Entry]
Categories=Music;
Exec=iceweasel http://www.weltmusik-fuer-kinder.de/portal/
Icon=weltmusik
Name=Kinderweltmusik (Online)
GenericName=World map of children's music
GenericName[de]=Weltkarte der Kindermusik
Type=Application
