[Desktop Entry]
Categories=Education;Languages;
Exec=firefox http://www.orthografietrainer.de
Icon=orthografietrainer
Name=Orthografietrainer (online)
GenericName=Spelling excercises
GenericName[de]=Übungen zur Rechtschreibung
Type=Application
