[Desktop Entry]
Categories=Education;Math;
Exec=iceweasel http://www.lehrmittelverlag-zuerich.ch/Portals/1/Documents/lehrmittelsites/matheprimar/rout3gr/_framework/mathematik3_de.html
Icon=mathe_primar_3
Name=Mathematik Primarstufe 3 (online)
GenericName[de]=Mathematikaufgaben für die Primarschule
Type=Application
