[Desktop Entry]
Categories=Education;Math;
Exec=iceweasel http://www.lehrmittelverlag-zuerich.ch/Portals/1/Documents/lehrmittelsites/matheprimar/matheprimar_4/fertigkeiten/de/index.html
Icon=mathe_primar_4
Name=Mathematik Primarstufe 4
GenericName[de]=Mathematikaufgaben für die Primarschule
Type=Application
