[Desktop Entry]
Categories=Education;Math;
Exec=firefox http://www.lehrmittelverlag-zuerich.ch/Portals/1/Documents/lehrmittelsites/matheprimar/matheprimar_6/fertigkeiten/de/index.html
Icon=mathe_primar_6
Name=Mathematik Primarstufe 6 (online)
GenericName[de]=Mathematikaufgaben für die Primarschule
Type=Application
