[Desktop Entry]
Categories=Graphics;
Exec=firefox https://www.openclipart.org
Icon=openclipart
Name=Open Clip Art Library (online)
GenericName[de]=Freie Clipart-Bibliothek
Type=Application
