[Desktop Entry]
Categories=Music;
Exec=firefox http://www.kinder-wollen-singen.de
Icon=kinder-wollen-singen
Name=Kinder wollen singen (online)
GenericName=Free sheets of music
GenericName[de]=Freie Notenblätter
Type=Application
