Source: lernstick-mathematik-sekundarstufe
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-mathematik-sekundarstufe
Depends: iceweasel | firefox | firefox-esr
Architecture: all
Description: math excercises
 math excercises
