[Desktop Entry]
Categories=Education;
Exec=iceweasel http://stapo.winterthur.ch/online-polizei/wintii/verkehrsinstruktion/lernprogramme/
Icon=verkehrsinstruktion
Name=Verkehrsinstruktion (online)
GenericName=Lernprogramme zur Verkehrsinstruktion
Type=Application
