[Desktop Entry]
Categories=Education;Math;
Exec=firefox http://www.labbe.de/lerntrix/index_mg.asp
Icon=labbe
Name=Lerntrix Rechnen (online)
GenericName=Basic arithmetics excercises
GenericName[de]=Übungen zu den Grundrechenarten
Type=Application
