[Desktop Entry]
Categories=Education;
Exec=firefox https://www.unserkoerper.de
Icon=unserkoerper
Name=Mein Körper und Ich (online)
GenericName=The human body and its functions
GenericName[de]=Der menschliche Körper und seine Funktionen
Type=Application
