Source: lernstick-mathe-im-netz
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: lernstick-mathe-im-netz
Depends: iceweasel | firefox
Architecture: all
Description: A menu entry for Mathe im Netz
 We add a menu entry for the Mathe im Netz webpage.
